@model ProductsListViewModel
<div class="container">
        <vc:category-menu/>
        <vc:product-category category="Áo thun" />
        <vc:product-category category="Đồ bộ" />
        <vc:product-advertisement product-name="Bộ QA tập Gym"/>
        <vc:all-product/>
</div>



