@model ProductsListViewModel
<div class="container">
        <div>
                <img class="imgBanner" src="https://i.pinimg.com/564x/fe/0d/d6/fe0dd684468dd0ae65d5f26d5181a13d.jpg"/>
        </div>
        <vc:category-menu/>
        <vc:product-category category="Áo" />
        <vc:product-category category="Đồ bộ" />
        <vc:product-advertisement product-name="Balo cầu lông Yonex"/>
        <vc:product-category category="Balo"/> 
        <vc:product-category category="Quần"/>
        <div>
                <img class="imgBanner" src="https://thegioicaulong.vn/wp-content/uploads/2024/03/SHbCFZ3-v2.png"/>
        </div>
        <vc:product-category category="Giày"/>
        <vc:product-advertisement product-name="Giày cầu lông Li-ning"/>
        <vc:all-product/>
</div>
<style>
        .imgBanner{
                width: 100%;
                margin: 10px;
        }
</style>



